@import 'variables';
@import 'bootswatch';

/* All pages */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Front page */

#intro {
    margin-top: 20px;
}

.headline-box {
    font-size: 21px;
    margin-bottom: 24px;
}
.headline-number {
    font-size: 60px; 
    margin-bottom: -12px;
}

@media (max-width: $screen-md-min) {
    #headlines {
        margin-top: 50px;
    }
}

.all_sponsors_bottom_link {
    margin-top: 24px;
}

#sponsor-pills {
    margin-top: 16px;
    margin-bottom: -34px;
}

@media (max-width: $screen-sm-min) {
    #sponsor_table_filter {
        margin-top: 48px;
    }
}

.sponsor_type {
    display: none;
}


/* Sponsor table loading spinner */

.sponsor_table_loading {
    display: none;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

.glyphicon-refresh.spinning {
    transform-origin: 50% 49%; 
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

