/****************************************************************/
/* Importing */

@import 'variables';

@import '../bootstrap-sass-3.3.7/stylesheets/_bootstrap';

/* Load fonts from same domain, not from Google */
@font-face {
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 400;
    src: local('News Cycle'), local('NewsCycle'), url(/static/fonts/NewsCycle-400.ttf) format('truetype');
}
@font-face {
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    src: local('News Cycle Bold'), local('NewsCycle-Bold'), url(/static/fonts/NewsCycle-700.ttf) format('truetype');
}

@import 'bootswatch';


/****************************************************************/
/* All pages */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.prominent_link {
    margin-top: 24px;
    font-size: 21px;
}

*[data-toggle="tooltip"] {
    cursor: default;
}

a > span[data-toggle="tooltip"] {
    cursor: pointer;
}

.glyphicon-question-sign, .glyphicon-info-sign {
    vertical-align: text-bottom;
    margin-left: 6px;
}


/****************************************************************/
/* Loading spinner */

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

.glyphicon-refresh.spinning {
    transform-origin: 50% 49%; 
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}


/****************************************************************/
/* All tables */

.dataTables_length {
    margin-top: 12px;
}

#table-pills {
    margin-top: 24px;
    margin-bottom: 12px;
}
#table-pills li {
    vertical-align: middle;
}

.nav-pills > .active > a .badge {
  color: $brand-primary;
  background-color: $component-active-color;
}

.table .label {
    line-height: 20px;
}

.input-group-btn .spacer {
    padding-left: 8px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.hidden_column {
    display: none;
}

.nav-tabs .badge {
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: $screen-sm-min) {
  .search-pill {
      margin-top: -55px;
  }
}

#table-pills li.search-pill {
  vertical-align: middle;
}

li.search-pill a {
    margin-bottom: 3px;
    padding-top: 14px;
    padding-bottom: 15px;
}
#table-pills h2 {
    margin-top: 6px;
}
#table-pills .badge {
    margin-left: 8px;
}
.nav-pills > li.active a h2, 
.nav-pills > li.active a:hover h2, 
.nav-pills > li.active a:focus h2 {
    color: #fff;
    background-color: $brand-primary;
}

/****************************************************************/
/* Front page */

#intro {
    margin-top: 20px;
}

.headline-number {
    font-size: 60px; 
    margin-bottom: -10px;
    margin-top: -30px;
}
.jumbotron {
    padding-bottom: 64px;
}
.jumbotron p {
    margin-bottom: 21px;
}
@media (max-width: $screen-md-min) {
    .second-column {
        margin-top: 20px;
    }
    .jumbotron .second-column {
        margin-top: 50px;
    }
}

.sponsor_table_loading {
    display: none;
}


/****************************************************************/
/* Sponsor page */

.trials_table_loading {
    display: none;
}

/****************************************************************/
/* About page */

// https://github.com/twbs/bootstrap/issues/1768
#about-page *[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}

#about-page + hr + footer {
  margin-bottom: 80em;
}

