@import 'variables';
@import 'bootswatch';

/* All pages */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Front page */

#intro {
    margin-top: 20px;
}

.headline-box {
    font-size: 21px;
    margin-bottom: 24px;
}
.headline-number {
    font-size: 60px; 
    margin-bottom: -12px;
}

@media (max-width: $screen-md-min) {
    #headlines {
        margin-top: 50px;
    }
}

.all_sponsors_bottom_link {
    margin-top: 24px;
}
