  <div class="jumbotron">
    <div class="container">
      <h1>Who's not sharing EU clinical trial results?</h1>
      <div class="first-column">
        <div>
          <span id="preamble-1">By law</span><span id="preamble-2">, all clinical trials on the</span>
        </div>
        <div id="preamble-3">European Union</div>
        <div id="preamble-4">Clinical Trials Register 
          <a href="https://www.clinicaltrialsregister.eu/">
            (EUCTR)
          </a>
        </div>
        <div id="preamble-5">must report their results in the registry</div>
        <div id="preamble-6">within a year</div>
        <div>
          <span id="preamble-7">of completion.</span>
          <span id="white-line"></span>
        </div>
         his site tracks which universities and
        pharmaceutical companies are doing this and which aren't.
        <a href="/about">Learn more &raquo;</a>
      </div>
      <div class="second-column">
        <p>Trial sponsors are <b>late reporting</b></p>
        <div class="headline-number">{{percent_without_results}}%</div>
        <p>of due trials. That's <b>{{due_trials_without_results}} trials not reported</b> 
        out of <b>{{due_trials}}</b> which are due to report.
        </p>
      </div>
    </div>
  </div>

