  <div class="jumbotron">
    <div class="container">
      <h1>Who's not sharing EU clinical trial results?</h1>
      <div class="row">
        <div class="col-md-6">
          <p class="intro"><b>By law</b>, all clinical trials on the 
          <a href="https://www.clinicaltrialsregister.eu/">
            European Union Clinical Trials Register (EUCTR)
          </a>
          <b>must</b> report their results in the registry within a year of
          completion. This site tracks which universities and
          pharmaceutical companies are doing this and which aren't.
          <a href="/about">Learn more &raquo;</a>
          </p>
        </div>
        <div class="col-md-6 second-column">
          <p class="intro">Trial sponsors are <b>late reporting</b></p>
          <div class="headline-number">{{percent_without_results}}%</div>
          <p>of due trials. That's <b>{{due_trials_without_results}} trials not reported</b> 
          out of <b>{{due_trials}}</b> which are due to report.
          </p>
        </div>
      </div>
    </div>
  </div>

