<div id="sponsor_table_loading">
  <span class="glyphicon glyphicon-refresh spinning"></span>
</div>

<ul class="nav nav-pills nav-justified" id="table-pills">
  <li id="major_sponsors" role="presentation" class="active" title="Sponsors with more than 50 trials in total listed in EUCTR" data-toggle="xtooltip" data-placement="bottom">
    <a href="#">Major sponsors <span class="badge">{{ major_sponsors_count }}</span></a>
  </li>
  <li id="all_sponsors" role="presentation" title="Sponsors with at least one completed, due trial" data-toggle="xtooltip" data-placement="bottom">
    <a href="#">All sponsors <span class="badge">{{ all_sponsors_count }}</span></a>
  </li>
  <li id="search_sponsors" role="presentation">
    <a href="#">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        <div class="spacer">
          <span class="badge">{{ all_sponsors_count }}</span>
        </div>
      </span>
    </div>
  </a></li>
</ul>

<table id="sponsor_table" class="display" cellspacing="0" width="100%">
  <script>
    hide_sponsor_datatable()
  </script>

  <thead>
    <tr>
      <th>Sponsor name</th>
      <th>Trials on EUCTR</th>
      <th>Due trials</th>
      <th>Unreported</th>
      <th>% Reported</th>
      <th class="sponsor_type">Major?</th>
    </tr>
  </thead>

  {% for sponsor in table %}
    <tr>
      <td> <a href="/sponsor/{{ sponsor.slug }}">{{ sponsor.sponsor_name }}</a></td>
      <td> {{ sponsor.total_trials }} </td>
      <td> {{ sponsor.total_due }} </td>
      <td> {{ sponsor.total_unreported }} </td>
      <td> {{ sponsor.percent_reported }}% </td>
      {% if sponsor.total_trials >= 50 %}
      <td class="sponsor_type">major</td>
      {% else %}
      <td class="sponsor_type">minor</td>
      {% endif %}
    </tr> 
  {% endfor %}

</table>

<script>
  activate_sponsor_datatable()
</script>
