{% load render_nan %}
{% load bar_chart %}

<script>
  total_unreported = {{ total_unreported }}
  total_reported = {{ total_reported }}
  total_due = {{ total_due }}
  not_yet_due_trials = {{ not_yet_due_trials }}
  inconsistent_trials = {{ inconsistent_trials }}
  total_trials = {{ total_trials }}
</script>

<div class="container">
  <h1>{{ sponsor_name }}{% if sponsor_name|slice:"-1:" == "s" %}'{% else %}'s{% endif %}
    EU clinical trials</h1>

  {% if total_trials > 0 %}
  <div class="sponsor-charts">
    <div class="first-column">
      <canvas id="unreported_chart" height="140px"></canvas>
      {% if percent_unreported == 0 %}
	<div id="chartcopy-brash-1">All</div>
	<div id="chartcopy-1">of {{ sponsor_name }}'s</div>
	<div id="chartcopy-2"><b>{{ total_due }}</b> due trials have</div>
	<div id="chartcopy-3"><b>been reported</b></div>
      {% elif percent_unreported == 100 %}
	<div id="chartcopy-brash-1">None</div>
	<div id="chartcopy-1">of {{ sponsor_name }}'s</div>
	<div id="chartcopy-2">{{ total_due }} due trials have</div>
	<div id="chartcopy-3"><b>been reported</b></div>
      {% elif percent_unreported|custom_percent == "-" %}
	<div id="chartcopy-brash-1">&nbsp;</div>
	<div id="chartcopy-1">{{ sponsor_name }}</div>
	<div id="chartcopy-2">has no due trials so none are</div>
	<div id="chartcopy-3"><b>late reporting</b></div>
      {% else %}
	<div id="chartcopy-brash-1">{{percent_unreported | custom_percent}}</div>
	<div id="chartcopy-1">of {{ sponsor_name }}'s</div>
	<div id="chartcopy-2"><b>{{ total_due}}</b> due trials are</div>
	<div id="chartcopy-3"><b>late reporting</b></div>
      {% endif %}
    </div>
    <div class="second-column">
      <div id="trials-bar-chart">
	<div id="not-reported-bar" style="height: {% calc_bar total_due not_yet_due_trials inconsistent_trials %}%" data-toggle="tooltip" data-placement="bottom" title="Due to report, but not reported: {{ total_unreported }} trials">
	</div>
	<div id="reported-bar" style="height: {% calc_bar total_reported total_due not_yet_due_trials inconsistent_trials %}%" data-toggle="tooltip" data-placement="bottom" title="Due to report, have reported: {{ total_reported }} trials">
	</div>
	<div id="not-due-bar" style="height: {% calc_bar not_yet_due_trials total_due inconsistent_trials %}%" data-toggle="tooltip" data-placement="bottom" title="Not yet due to report: {{ not_yet_due_trials }} trials">	</div>
	<div class="dashed-animation" id="inconsistent-data-bar" style="height: {% calc_bar inconsistent_trials total_due not_yet_due_trials %}%" data-toggle="tooltip" data-placement="bottom" title="Inconsistent data: {{ inconsistent_trials }} trials">	</div>
      </div>
      <div id="trials-bar-caption">
	<span id="caption-1">Due trials</span>
	<span id="caption-2">Not due</span>
	<span id="caption-3">Inconsistent data</span>
      </div>
    </div>
    <div class="third-column">
      <div id="chartcopy-brash-2">{{inconsistent_trials}}</div>
      <div id="chartcopy-4">of {{ sponsor_name }}'s </div>
      <div id="chartcopy-5"><b>{{ total_trials }}</b> register entries</div>
      <div id="chartcopy-6">have</div>
      <div id="chartcopy-7"><b>inconsistent data</b></div>
      <div id="chartcopy-spacer-1" class="dashed-animation">Hello&nbsp;</div>
      <div id="chartcopy-8">so we can't be sure</div>
      <div id="chartcopy-9">if they've reported on time</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="lead sponsor-blurb">All clinical trials on the 
      <a href="https://www.clinicaltrialsregister.eu/">
	European Union Clinical Trials Register (EUCTR)
      </a>
      <b>must</b> report their results in the registry within a year of
      completion. This site tracks who's doing this and who isn't.
      <a href="/about">Learn more &raquo;</a>
      </p>
    </div>
   </div>

   <script>
   activate_charts()
   </script>
   {% endif %}
</div>



