{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
    <h1>What's this all about?</h1>
		Non-publication of clinical trial results is an ongoing global public
		health problem. The European Union (EU) recently enacted legislation requiring
		all trials on the European Union Clinical Trials Register (EUCTR) to post
		results to the registry within 12 months of completion. Because the US FDA
		Amendment Act 2007 has not yet been formally implemented, the EU law is the
		first legislation on trial publication to be enacted anywhere in the world. The
		enforcement date of this legislation was December 21st 2016. This site
		shows compliance rates, and identifies features associated with
		non-compliance. 
    </div>

{% endblock%}
