{% extends "_base.html" %}

{% block social_title %}{% block title %}
        About &mdash; EU Trials Tracker
{% endblock %}{% endblock %}

{% block social_description %}
        By EU law, from December 2016, all trials on the European Union Clinical
        Trials Register (EUCTR) must post results within 12 months of completion.
        This is the first legislation enacted anywhere in the world which requires
        such trial publication.

        EU Trials Tracker shows which organisations are compliant and which
        aren't.
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" id="about-page">

        <div class="page-header">
    <h1>About the EU Trials Tracker</h1>
        </div>

        <p class="lead">Non-reporting of clinical trial results is an
                <a href="http://www.nature.com/news/make-journals-report-clinical-trials-properly-1.19280">ongoing global public health problem</a>.
        </p>

        <p>The best currently available evidence shows that around
          half of all trials go unreported: this means that doctors
          and patients see only a partial, biased fraction of the true
          evidence. We cannot make informed decisions about treatments
          unless all the data is reported.  Under EU rules, from
          December 2016, all trials on
          the <a href="https://www.clinicaltrialsregister.eu">European
          Union Clinical Trials Register</a> (EUCTR) should post
          results within 12 months of completion.  There has never
          been a rule as simple and clear as this, anywhere in the
          world. Our EU Trials Tracker shows which organisations are
          compliant, and which
          aren't. Our <a href="https://www.bmj.com/content/362/bmj.k3218">paper
          in the BMJ</a> analysed the data as of January 2018, and
          found that <strong>only 49%</strong> of Europe's clinical
          trials reported results in the register.
        </p>

        <h2 id="clinical-trial">What is a Clinical Trial?</h2>
        <p>
          Clinical trials are the gold standard in medicine: they are
          the most fair test of whether a treatment really works; they
          are also used to assess how one treatment compares to other
          available options. In a clinical trial, the treatment is
          usually given to real patients, in a real-world setting. The
          outcomes measured are ideally real-world problems that
          matter to patients, such as pain, disability or death; but
          can also include lab tests, or scans.
        </p>

        <h2 id="important">Why Do We Need All Trials Reported?</h2>

        <p>
          We use the results of clinical trials to make real-world
          decisions about which treatments work best. We can’t make
          informed choices if the results of clinical trials are
          withheld from doctors, researchers, and patients.
        </p>

        <h2 id="journal-paper">Where Can I Read the Journal Paper About This?</h2>
        <p>
          Full details of our research is published in the academic
          paper "Compliance With Requirement to Report Results on the
          EU Clinical Trials Register: a Cohort Study and Web
          Resource" by Ben Goldacre, Nicholas J DeVito, Carl Heneghan,
          Francis Irving, Seb Bacon, Jessica Fleminger, Helen Curtis
          and Open Knowledge International. This is a long and
          detailed analysis that describes the background and
          implications of the data at length, gives technical
          information about our methods, and reports further
          statistical analyses such as factors associated with
          reporting, or not reporting, trial results.
        </p>

        <h2 id="who">Who Made the EU Trials Tracker?</h2>
        <p>The <a href="https://ebmdatalab.net/">Evidence-Based
        Medicine Data Lab</a> at Oxford University: we are a truly
        multi-disciplinary team of clinicians, academics, and software
        engineers working together to make data more impactful in the
        real world. Francis Irving was the software engineer for the
        site; Ben Goldacre was the principal investigator; Nick DeVito
        was the researcher.
        </p>

        <h2 id="contact">How Do We Contact You?</h2>
        <p>Email us! <a href="mailto:hello@ebmdatalab.net">hello@ebmdatalab.net</a>. We'd particularly
        like to hear about any errors, omissions or ideas.
        </p>

        <h2 id="when-updated">When Was The Data Last Updated?</h2>
        <p>This data updates regularly, on a monthly cycle. We think
        it’s important that information about who is reporting
        clinical trials is current and regularly updated: so that
        sponsors are always motivated to improve; and sponsors who do
        improve can see their good work reflected in public. The
        current data was taken from the register over a period of a
        few days starting on {{ scrape_date }}.  All clinical trials
        on medicinal products (drugs and vaccines) conducted in Europe
        since 2004 are in the register. For full details, see the
        register's
        <a href="https://www.clinicaltrialsregister.eu/about.html">about page</a>.
        </p>

        <h2 id="due">What Does “Due” Mean?</h2>
        <p>When more than a year has passed since the completion of a
        trial, the results should be published, and we call it
        "due". Specifically, we take the latest “global end of trial
        date” listed for the trial; then add a year (the maximum delay
        permitted for sponsors to report results); and finally add 4
        weeks (the statutory maximum 15 days administrative delay for
        results to be published on the register by the regulator, and
        another 5 days to allow for national holidays and exceptional
        circumstances). Currently, any trial completed earlier than {{
        due_date_cutoff }} is due.</p>

        <h2 id="major-sponsor">What’s a Major Sponsor?</h2>
        <p>The initial table on the front page shows only sponsors
        with 50 or more total trials in the register. This is to make
        the headline rankings more easily viewable. If you click “all
        sponsors” you can see all sponsors! This is a list of
        thousands, so we have also made a search box where you can
        find a sponsor you are particularly interested in.
        </p>

        <h2 id="inconsistent-data">What does “Inconsistent Data” Mean for a Trial?</h2>

        <p>Some trials have problematic and inconsistent data on the
        registry which makes it impossible to definitively tell if a
        trial is “due” or not. These generally represent errors by
        someone, but it is hard to be certain who is at fault. There
          are three main categories of inconsistent data:</p>

        <ol>
          <li>All the sites where the trial was conducted have listed
          their status as “completed”, so there should be a completion
          date; and yet there is no “global end of trial” date given
          anywhere.</li>
          <li>There is a date for the “global end of the trial”; and
          yet some of the sites are still listed as ongoing.</li>
          <li>For some, the trial status is left entirely blank.</li>
        </ol>

        <p>These inconsistencies, omissions and errors may be due to
        errors by: the sponsor (for giving inconsistent information);
        or the national and European regulators (for not doing
        consistency checks on the data, or failing to update the
        information they are given). We think the EU registry managers
        could and should automatically identify trials with
        inconsistent data, as we have done; and then require sponsors
          to correct their records. </p>

        <h2 id="part-of">What Happens when Sponsors Merge or Split?</h2>

        <p>Over time organisations can merge, change names, or split:
        companies may acquire other companies; universities may join
        together; and so on. If we think an organisation is now
        effectively part of another, we say so at the bottom of its
        page. Conversely, if an organisation now effectively includes
        other organisations, and so is responsible for their trials,
        we list those at the bottom of its page. The trials of the
        smaller organisations are not included in the counts of the
        larger one. We've made every effort to get these relationships
        right; there is no canonical data source on mergers and
        acquisitions; if you think we should update any of our data on
        this, please <a href="#contact">tell us</a>.
        </p>

    </div>

{% endblock %}
