{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Who's not sharing EU clinical trial results?</h1>
      <div class="row">
        <div class="col-md-6">
          <p id="intro">By law, all clinical trials on the 
          <a href="https://www.clinicaltrialsregister.eu/">
            European Union Clinical Trials Register (EUCTR)
          </a>
          must post their results to the registry within a year of
          completion. This site tracks which universities and
          pharmaceutical companies are doing this and which aren't.
          <a href="/about">Learn more &raquo;</a>
          </p>
        </div>
        <div class="col-md-6" id="headlines">
          <h2>Out of {{total_trials}} trials in the registry&hellip;</h2>
          <div class="row">
            <div class="col-sm-4 headline-box">
              <div class="headline-number">{{due_trials}}</div>
              <span title="That is to say, they list a completion date which is more than a year ago">are due to post results</span>
            </div>
            <div class="col-sm-4 headline-box">
              <div class="headline-number">{{due_trials_without_results}}</div>
              of those haven't posted results
            </div>
            <div class="col-sm-4 headline-box">
              <div class="headline-number">{{percent_without_results}}%</div>
              of due trials are breaking the law 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>How many trials have major sponsors reported?</h1>

    <table id="table4_table" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Sponsor name</th>
          <th>Total reported</th>
          <th>Total due</th>
          <th>Percent reported</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Sponsor name</th>
          <th>Total reported</th>
          <th>Total due</th>
          <th>Percent reported</th>
        </tr>
      </tfoot>
    
      {% for sponsor in table4 %}
      <tr>
        <td>
          {{ sponsor.sponsor_name }}
        </td>
        <td>
          {{ sponsor.total_reported }}
        </td>
        <td>
          {{ sponsor.total_due }}
        </td>
        <td>
          {{ sponsor.percent_reported }}%
        </td>
      </tr> 
      {% endfor %}
    </table>
  </div>

{% endblock%}
