{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Who's not sharing EU clinical trial results?</h1>
        <p>By law, all clinical trials on the 
           <a href="https://www.clinicaltrialsregister.eu/">
               European Union Clinical Trials Register (EUCTR)
           </a>
        must post their results to the registry within a year of
        completion. This site tracks which universities and
        pharmaceutical companies are doing this and which aren't.
        </p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
      </div>
    </div>


    <div class="container">
    </div>

{% endblock%}
