{% extends "base.html" %}

{% block title %}EU Trials Tracker &mdash; Who's not sharing clinical trial results?{% endblock %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Who's not sharing EU clinical trial results?</h1>
      <div class="row">
        <div class="col-md-6">
          <p id="intro"><b>By law</b>, all clinical trials on the 
          <a href="https://www.clinicaltrialsregister.eu/">
            European Union Clinical Trials Register (EUCTR)
          </a>
          <b>must</b> report their results in the registry within a year of
          completion. This site tracks which universities and
          pharmaceutical companies are doing this and which aren't.
          <a href="/about">Learn more &raquo;</a>
          </p>
        </div>
        <div class="col-md-6" id="front-headlines">
          <h2>Out of {{due_trials}} <span title="Trials which are listed as completed with a completion date, and the date is more than a year ago" data-toggle="tooltip" data-placement="bottom">due trials</span></h2>
            <div class="headline-box">
              {{due_trials_without_results}} 
              are <b>late</b> reporting results. That's
              <div class="headline-number">{{percent_without_results}}%</div>
              <div>of trials <b>breaking the law</b>.</div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>Trials unreported by sponsor</h1>

    {% include "_sponsor_table.html" with table=all_sponsors %}
  </div>


{% endblock%}
