{% extends "base.html" %}

{% block title %}Is {{ sponsor_name }} late reporting EU clinical trials?{% endblock %}

{% block content %}

  <div class="container">
    <div class="page-header">
      <h1>{{ sponsor_name }}{% if sponsor_name|slice:"-1:" == "s" %}'{% else %}'s{% endif %}
	EU clinical trials</h1>
    </div>

    <div class="row headline-box" id="sponsor-headlines">
      <div class="col-md-6">
	<p class="lead">Out of <b>{{total_due}} <span title="Trials which are listed as completed with a completion date, and the date is more than a year ago" data-toggle="tooltip" data-placement="bottom">due trials</span></b> 
	in the
	<a href="https://www.clinicaltrialsregister.eu/">European Union Clinical Trials Register (EUCTR)</a>,
	{% if total_unreported == total_due %}
	  >sponsor {{ sponsor_name }} are late reporting
	  <b>all trials</b>
	{% elif total_unreported == 0 %}
	  the sponsor {{ sponsor_name }} has reported 
	  <b>all on time</b>.
	{% else %}
	  sponsor {{ sponsor_name }} are late reporting
	    <b>{{total_unreported}} trials</b>.
	{% endif %}
	<a href="/about">Learn more &raquo;</a>
	</p>
      </div>
      <div class="col-md-6 second-column">
	<div class="headline-number">{{percent_unreported}}%</div>
	<p class="lead"> of trials <b>breaking the law</b></p>
      </div>
    </div>
    {% if inconsistent_trials > 0 %}
    <div class="row">
      <div class="col-md-6">
	<p>In addition <b>{{inconsistent_trials}} trials</b> have <b>inconsistent</b> data. 
	Many of these trials may also need to report results to obey the law. You can look up
	the specific overdue or inconsistent trials in the list below.
	</p>
      </div>
    </div>
    {% endif %}

  </div>

  <div class="container">
    <h2>Status of each trial</h2>

    <div id="trials_table_loading">
      <span class="glyphicon glyphicon-refresh spinning"></span>
    </div>

    <div class="row" id="table-pills">
      <div class="col-sm-7">
      </div>
      <div class="col-sm-5" id="search_trials">
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Search">
	  <span class="input-group-btn">
	    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	    <div class="spacer">
	      <span class="badge">{{ total_trials }}</span>
	    </div>
	  </span>
	</div>
      </div>
    </div>


    <table id="trials_table" class="display" cellspacing="0" width="100%">
      <script>
        hide_trials_datatable()
      </script>

      <thead>
        <tr>
          <th>Status</th>
          <th>Trial ID</th>
          <th>Title</th>
          <th>Completion date</th>
        </tr>
      </thead>

      {% for trial in trials %}
        {% if trial.has_results == 0 %}
        <tr class="no_results">
        {% else %}
        <tr>
        {% endif %}
          <td>
	    {% if trial.overall_status == "ongoing" %}
	      <span class="label label-default">
	      <span title="Trial is ongoing" data-toggle="tooltip" data-placement="bottom">
	      Ongoing
	      </span></span>
	    {% elif trial.overall_status == "error-ongoing-has-comp-date" %}
	      <span title="Trial is ongoing, but database already shows a completion date" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-warning">
	      Inconsistent</span></span>
	    {% elif trial.overall_status == "completed-not-due" %}
	      <span title="Trial completed less than a year ago" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-info">
	      Completed</span></span>
	    {% elif trial.overall_status == "completed-due" %}
	      <span title="Trial completed more than a year ago, and hasn't reported results" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-danger">
	      Overdue</span></span>
	    {% elif trial.overall_status == "reported-early" %}
	      <span title="Trial completed and reported results within year of date; this means it is too recent to appear in our main scores" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-success">
	      Reported</span> 
	      <br><span class="label label-primary">
	      Recent</span></span>
	    {% elif trial.overall_status == "reported" %}
	      <span title="Trial completed and reported results after year of date" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-success">
	      Reported</span></span></span>
	    {% elif trial.overall_status == "error-completed-no-comp-date" %}
	      <span title="Trial is completed, but database does not list a completion date" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-warning">
	      Inconsistent</span></span>
	    {% elif trial.overall_status == "not-run" %}
	      <span title="Trial was suspended, withdrawn, not authorised or prohibited by the country authority" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-info">
	      Not run</span></span>
	    {% elif trial.overall_status == "no-trial-status" %}
	      <span title="No status listed; usually a paediatric trial taking place wholly outside of the EU/EEA" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-info">
	      No trial status</span></span>
	    {% else %}
	      EU Trials Tracker internal error &mdash; {{ trial.overall_status }}
	    {% endif %}

	    {% if trial.has_results and trial.overall_status != "reported" and trial.overall_status != "reported-early" %}
	    <br><span title="Trial has also reported results" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-success">
	      Reported</span>
	      </span>
	    {% endif %}
   </td>

	  <td><a href="{{ trial.trial_url}}">{{ trial.trial_id }}</a></td>
          <td>{{ trial.trial_title }}</td>

          <td>{{ trial.max_end_date | default_if_none:"-"}}</td>
        </tr>
      {% endfor %}
    </table>

    <script>
      activate_trials_datatable()
    </script>

  </div>


{% endblock%}
