{% extends "base.html" %}

{% block title %}Is {{ sponsor_name }} late reporting EU clinical trials?{% endblock %}

{% block content %}

  <div class="container">
    <div class="page-header">
      <h1>{{ sponsor_name }}'s EU clinical trials</h1>
    </div>

    <div class="lead">
      <p>Out of {{total_due}} <span title="Trials which are listed as completed with a completion date, and the date is more than a year ago" data-toggle="tooltip" data-placement="bottom">due trials</span> in the
      <a href="https://www.clinicaltrialsregister.eu/">EUCTR</a>,
     
      {% if percent_unreported > 0 %}
        sponsor {{ sponsor_name }} is <b>late</b> reporting results for {{total_unreported}} of them. 
        </p>
        <p>They're <b>breaking the law</b> for <b>{{percent_unreported}}%</b>
         of their trials. 
      {% else %}
        sponsor {{ sponsor_name }} is <b>on time</b> reporting results for all {{total_reported}}.
        <p>They're <b>obeying the law</b> for <b>{{percent_reported}}%</b>
        of their trials.
      {% endif %}
	<a href="/about">Learn more &raquo;</a>
      </p>
    </div>

    <!-- <p>In addition XX trials have errors or problems in their
    data. Many of these trials will be due to reported results too. You can see
    the specific trials that are overdue, or contain errors, in the list
    below.
    </p> -->
  </div>

  <div class="container">
    <h2>Status of all trials</h2>

    <div id="trials_table_loading">
      <span class="glyphicon glyphicon-refresh spinning"></span>
    </div>

    <table id="trials_table" class="display" cellspacing="0" width="100%">
      <script>
        hide_trials_datatable()
      </script>

      <thead>
        <tr>
          <th>Status</th>
          <th>Trial ID</th>
          <th>Title</th>
          <th>Completion date</th>
        </tr>
      </thead>

      {% for trial in trials %}
        {% if trial.has_results == 0 %}
        <tr class="no_results">
        {% else %}
        <tr>
        {% endif %}
          <td>
	    {% if trial.overall_status == "ongoing" %}
	      <span class="label label-default">
	      <span title="Trial is ongoing" data-toggle="tooltip" data-placement="bottom">
	      Ongoing
	      </span></span>
	    {% elif trial.overall_status == "error-ongoing-has-comp-date" %}
	      <span title="Trial is ongoing, but database already shows a completion date" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-warning">
	      Inconsistent</span></span>
	    {% elif trial.overall_status == "completed-not-due" %}
	      <span title="Trial completed less than a year ago" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-info">
	      Completed</span></span>
	    {% elif trial.overall_status == "completed-due" %}
	      <span title="Trial completed more than a year ago, and hasn't reported results" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-danger">
	      Overdue</span></span>
	    {% elif trial.overall_status == "reported-early" %}
	      <span title="Trial completed and reported results within year of date; this means it is too recent to appear in our main scores" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-success">
	      Reported</span> 
	      <span class="label label-primary">
	      Recent</span></span>
	    {% elif trial.overall_status == "reported" %}
	      <span title="Trial completed and reported results after year of date" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-success">
	      Reported</span></span></span>
	    {% elif trial.overall_status == "error-completed-no-comp-date" %}
	      <span title="Trial is completed, but database does not list a completion date" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-warning">
	      Inconsistent</span></span>
	    {% elif trial.overall_status == "not-run" %}
	      <span title="Trial was suspended, withdrawn, not authorised or prohibited by the country authority" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-info">
	      Not run</span></span>
	    {% elif trial.overall_status == "no-trial-status" %}
	      <span title="No status listed; usually a paediatric trial taking place wholly outside of the EU/EEA" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-info">
	      No trial status</span></span>
	    {% else %}
	      EU Trials Tracker internal error &mdash; {{ trial.overall_status }}
	    {% endif %}

	    {% if trial.has_results and trial.overall_status != "reported" and trial.overall_status != "reported-early" %}
	      <span title="Trial has also reported results" data-toggle="tooltip" data-placement="bottom">
	      <span class="label label-success">
	      Reported</span>
	      </span>
	    {% endif %}
   </td>

	  <td><a href="{{ trial.trial_url}}">{{ trial.trial_id }}</a></td>
          <td>{{ trial.trial_title }}</td>

          <td>{{ trial.max_end_date | default_if_none:"-"}}</td>
        </tr>
      {% endfor %}
    </table>

    <script>
      activate_trials_datatable()
    </script>

    <div class="prominent_link"><a href="/">
      Look up other sponsors &raquo;      
    </div>

  </div>


{% endblock%}
